body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('imag.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@media (max-width: 768px) {
  body {
    background-image: url('imagmobile.png');
    background-size: cover;
    background-position: center;
  }
}

